@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

@font-face {
  font-family: "Tabac";
  src: url("./assets/fonts/TabacG1-Bold.woff2"); /* Locate the .ttf file within your directory*/
}

:root {
  --border: 1px solid #d8d1ca;
  --border-color: #d8d1ca;
  --primary-color: #666666;
  --third-color: #007b8f;
  --secondary-color: #ffd5ad;
  --bs-gray: #f8f9fa;
  font-family: "Lato", sans-serif;
}

body,
li,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
.hidden {
  display: none;
}

/*!-------------------#NAV ---------------------------*/
nav {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  height: 70px;
  background-color: white;
  border-top: var(--border);
  border-bottom: var(--border);
  width: 100%;
}

nav .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 160px;
  padding: 0 20px 0 20px;
  border-right: var(--border);
  grid-area: header;
}

nav .col-menu {
  display: none;
}
.logo-container .logo {
  height: 20px;
}
nav .context-menu {
  display: flex;
  height: 100%;
  width: 60%;
  padding: 0;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  grid-area: menu-icon;
}

nav .context-menu li {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 10px;
  a {
    text-decoration: none;
  }
}

nav .context-menu li:hover {
  background-color: var(--bs-gray);
  border-left: var(--border);
  margin-left: -1px;
  border-right: var(--border);
  margin-right: -1px;
}

nav .context-menu li:hover:after,
nav .icon-menu li:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--third-color);
  animation-duration: 0.8s;
  animation-name: slide;
  transition: 0.5;
}

@keyframes slide {
  from {
    opacity: 0.2;
    width: 0;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}

nav input#search {
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  border-radius: 20px;
  border: var(--border);
  margin: 0 30px 0 30px;
  background-size: 20px;
  background-image: url(./assets/img/icons/magnifying-glass-svgrepo-com.svg);
  background-position: 9px 9px;
  background-repeat: no-repeat;
  padding-left: 40px;
  font-size: 0.9em;
  font-family: Lato;
  font-weight: 400;
  color: var(--primary-color);
  grid-area: search;
}

nav .icon-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0;
}

nav .icon-menu li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 20px 16px 12px 16px;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 0.8em;
  color: var(--primary-color);
  border-left: var(--border);
  margin-left: -1px;
}

/*Detalle de los li's*/
nav .icon-menu li:first-child {
  border-left: none;
}

nav .icon-menu li:last-child {
  padding: 20px 16px 8px 18px;
}

nav .icon-menu li > i {
  font-size: 1.7em;
}

nav .icon-menu li:hover {
  cursor: pointer;
  background-color: var(--bs-gray);
  color: var(--third-color);
}

/*! ------------Aside Filters------------------*/
aside {
  position: sticky;
  min-width: 300px;
  margin: 15px;
  padding: 15px;
  min-height: 100%;
  background-color: #fafafa;
  border-radius: 10px;

  h2 {
    font-size: 1.5rem;
    padding-bottom: 20px;
    border-bottom: var(--border);
  }
}
.filter-list {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  left: 0;
  position: relative;
  gap: 10px;
  > li {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
  }
  > li input {
    transform: scale(1.5);
    transform-origin: 0 0;
  }
  > li label {
    position: relative;
    top: 5px;
  }
}

aside {
  #filter-price,
  #filter-brand,
  #rush-delivery {
    left: 0;
    border-bottom: var(--border);
    padding-bottom: 30px;

    h3 {
      font-size: 1.1em;
    }
  }
}

.flex-row {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.slideIn {
  animation: slideIn 1s forwards;
}
.slideOut {
  animation: slideIn 1s backwards;
}
@keyframes slideIn {
  from {
    left: -100%; /* Inicia fuera de la vista */
  }
  to {
    left: 0px; /* Ajusta según la posición final deseada */
  }
}
/*!----------------MAIN-CONTENT---------------------*/

#gallery-shop {
  /* margin-top: 80px; */
  padding: 1em;
  overflow-y: scroll;
  max-width: 100%;
  height: 800px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#gallery-shop::-webkit-scrollbar {
  display: none;
}

#gallery-shop #intro {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 20px auto auto;
  grid-template-areas:
    "filter ."
    "h1 h1"
    "parr size";
  min-width: 100%;
  height: auto;
  border-bottom: var(--border);
}
h1 {
  font-family: Tabac;
  font-size: 1.6em;
  padding-top: 20px;
  grid-area: h1;
}

#intro .find-size {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  margin: 16px 0px 16px 0px;
  grid-area: size;

  > a {
    grid-area: size;
    display: flex;
    gap: 8px;
    align-content: center;

    font-family: Lato;
    font-weight: 700;
    color: var(--third-color);
    cursor: pointer;
  }
  p {
    grid-area: parr;
  }
}

#gallery-shop .results-sort {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border);
  .sort {
    display: flex;
    gap: 10px;
  }
}

#gallery-grid {
  width: 100%;
  height: 1000px;
  margin-top: 20px;
}

#three-columns {
  cursor: pointer;
}
.three-columns {
  max-height: 100%;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 450px;
  column-gap: 46px;
  padding-bottom: 70px;
}

.two-columns {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 36px;
  transition: max-height 0.3s ease-out;
}

/*?------------------- CARD -----------------*/
#gallery-grid .card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 400px; /* Altura fija para las tarjetas */
  overflow: hidden; /* Para ocultar contenido desbordado */

  .img-container {
    padding: 20px;
    order: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    background-color: rgba(216, 209, 202, 0.144);
    flex: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain; /* Asegura que la imagen cubra todo el contenedor */
    }
  }
}

.card .rate {
  display: flex;
  align-items: center;
  order: 3;
  gap: 6px;
  > .star {
    height: 18px;
    filter: brightness(0) saturate(100%) invert(76%) sepia(86%) saturate(623%)
      hue-rotate(355deg) brightness(102%) contrast(105%);
  }
}
.price {
  color: var(--primary-color);
}
.card .flex-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  order: 2;
}

.card .flex-name {
  width: 100%;
  order: 3;
  justify-content: space-between;
  display: flex;

  .name {
    font-size: 1em;
    font-weight: 400;
  }

  .size {
    display: flex;
    justify-content: center;
    width: 15px;
    padding: 0 5px 0 5px;
    border: 1px solid black;
    border-radius: 4px;
  }
}

.top-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  p {
    background-color: #94cbd3;
    padding: 8px;
    border-radius: 25px;
    text-align: center;
  }
  i {
    align-self: center;
    font-size: 1.4em;
    padding-right: 5px;
    color: var(--primary-color);
  }
}
.text-info {
  grid-area: parr;
}

/* Iconos */

.icons {
  fill: rgb(66, 66, 66);
}

.grey-window {
  z-index: 3;
  top: 0;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-color: gray;
  opacity: 0.5;
}

.search-result {
  position: absolute;
  margin: auto;
  top: 72px;
  z-index: 4;
  width: 70%;
  height: 400px;
  background-color: blue;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.filter-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  grid-area: filter;
  background-color: var(--third-color);
  width: 130px;
  height: 30px;
  border-radius: 20px;
  color: white;
  svg {
    filter: brightness(0) saturate(100%) invert(96%) sepia(0%) saturate(0%)
      hue-rotate(116deg) brightness(104%) contrast(105%);
    height: 15px;
    width: 15px;
  }
}

/* ?---- GRID VISIBILITY ----*/
.visibility {
  display: none;
}
/***?--- FORM ---**/

#mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: 100%;
  padding: 30px;
  justify-content: space-around;
  gap: 20px;
  border-top: var(--border);
}

#mail .title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  > h2 {
    font-size: 1.5rem;
    margin: 0;
  }

  > h3 {
    position: relative;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
  }
}

#mail form {
  display: flex;
  flex-direction: column;
  padding: 0 20vw;
}
#mail .input-flex {
  display: flex;

  input {
    flex: 1;
    margin: 0;
    min-width: 40vw;
    height: 40px;
    border: none;
    border-left: var(--border);
    border-bottom: var(--border);
    border-top: var(--border);
  }
  input::placeholder {
    padding-left: 20px;
    font-size: 1.1em;
    margin: 0;
  }
  > .send {
    width: 90px;
    background-color: var(--third-color);
    color: white;
    border: none;
  }

  p {
    font-weight: 300;
  }
}

#mail .links {
  color: var(--third-color);
}

#get-app {
  max-width: 100%;
  height: 80px;
  border-top: var(--border);
  border-bottom: var(--border);
  background-color: var(--bs-gray);
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  align-items: center;

  .logo {
    width: 40px;
    height: 30px;
  }
  .apple {
    width: 120px;
  }
  .google {
    width: 130px;
  }
}

/***?---------------- FOOTER--------------------- ****/

footer #services {
  height: 180px;
  max-width: 100%;
  border-bottom: var(--border);
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .faq {
    border-right: var(--border);
  }

  h3 {
    padding: 10px 0 0 30px;
    color: #666666;
  }
}

#services .subgrid {
  margin: 0;
  padding: 0;
  padding: 0 30px 0 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 10px;
  grid-auto-flow: column;
  color: var(--third-color);
}

#copy {
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  p {
    font-size: 0.8em;
    text-align: center;
    color: var(--primary-color);
  }
}

#copy .statements {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  text-wrap: nowrap;
  justify-content: center;

  .statements > * {
    flex-grow: 1 0;
  }

  li {
    color: #007b8f;
    font-size: 0.8em;
    padding-right: 10px;
  }
  li:nth-child(3n) {
    flex-grow: 2 0;
  }
  li:not(li:last-child) {
    border-right: 2px solid #d8d1ca;
  }
}

/*!------- MEDIA QUERY -------*/

@media all and (max-width: 1350px) {
  nav .icon-menu li:nth-child(2n + 1) {
    display: none;
  }
}
@media all and (max-width: 1200px) {
  footer #services {
    display: flex;
    flex-direction: column;
    height: 100%;
    .faq {
      border-bottom: var(--border);
    }
    h3 {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
    }
    h3:after {
      content: ">";
      padding-left: 10px;
      font-size: 1.3em;
    }
    h3:hover {
      cursor: pointer;
      color: #007b8f;
    }
    .subgrid {
      display: flex;
      flex-direction: column;
      max-height: 0;
      overflow: hidden;
      transition: 0.4s ease-in-out;
    }
    .subgrid.expanded {
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
      max-height: 500px; /* Adjust this value as needed */
    }
  }
}
@media (max-width: 768px) {
  .aside {
    opacity: 0.5; /* Cambia la opacidad */
    background-size: 10px 10px; /* Cambia el tamaño del patrón */
  }
}
@media (max-width: 600px) {
  aside {
    display: flex;
    overflow: scroll;
    gap: 30px;
    text-wrap: nowrap;
    h2 {
      border-bottom: none;
    }
  }
  main .flex-row {
    display: flex;
    flex-direction: column;
  }
  aside > * form {
    height: 100%;
  }
  label {
    min-height: 100%;
  }
  .filter-list {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    scroll-behavior: smooth;
    gap: 30px;
    height: 100%;
    li {
      height: 100;
    }
  }
  .filter-list > li {
    height: auto;
    width: auto;
    background-color: var(--border-color);
    border-radius: 50px;
    padding: 10px;
    padding-bottom: 20px;
  }
  aside {
    #filter-price,
    #filter-brand,
    #rush-delivery {
      left: 0;
      border-bottom: none !important;
      border-left: var(--border);
      padding-left: 30px;
      h3 {
        font-size: 1.1em;
      }
    }
  }
}

@media all and (max-width: 1050px) {
  nav .context-menu {
    display: none;
  }
  nav .col-menu {
    display: block;
    font-size: 1.7em;
    color: var(--third-color);
    margin-right: 20px;
    margin-left: 20px;
  }
  nav .logo-container {
    border: none;
  }
}

@media all and (max-width: 750px) {
  .hidden {
    display: none;
  }
  nav .icon-menu {
    padding-right: 20px;
    gap: 8px;
  }
  nav .icon-menu li {
    width: 20%;
    height: 100%;
    border: none;
  }

  nav .icon-menu li > * {
    padding-bottom: 5px;
    font-weight: 700;
  }
  nav .icon-menu li:last-child {
    bottom: 7%;
  }
  nav {
    border-bottom: var(--border);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 50px 70px;
    grid-template-areas:
      "header header menu-icon"
      "search search search";
  }

  nav input#search {
    position: relative;
    max-width: 80%;
    margin: 0;
    justify-self: center;
  }

  #get-app .logo {
    display: none;
  }
  #get-app h2 {
    font-size: 1.3em;
    text-align: center;
  }
}

@media (max-width: 600px) {
  #gallery-shop #intro {
    display: grid;
    height: 180px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
      "h1 h1"
      "filter size";
    margin-bottom: 30px;
    border: none;
    row-gap: 40px;
  }

  .results-sort {
    border-top: var(--border);
  }
  #intro h1 {
    grid-area: h1;
    min-width: 100%;
    max-height: 100%;
    text-align: center;
    font-size: 1.2em;
  }

  #intro p {
    display: none;
  }

  #intro .find-size {
    position: relative;
    display: flex;
    margin: 0 !important;
    grid-area: size;
    align-items: center !important;
    justify-content: center !important;
  }
  .show-filter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #intro .filter-button {
    padding: 10px;
    grid-area: filter;
    padding: 0;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-content: center;
    background-color: #007b8f;
    border-radius: 30px;
    color: white;
  }

  #intro .filter-button svg {
    height: 15px;
    width: 15px;
    color: white;
  }
  .filter-icon {
    filter: brightness(0) saturate(100%) invert(95%) sepia(95%) saturate(20%)
      hue-rotate(338deg) brightness(106%) contrast(106%);
  }
}
